@model ShelterHub.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />

    @if (Model.ClientImage != null)
    {
        <dt class="col-sm-2">
            Client Image
        </dt>
        <dd>
            @{
                var base64 = Convert.ToBase64String(Model.ClientImage);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }

            <img class="userImg" src="@imgSrc" style="height:300px;" />
        </dd>
    }
<div class="container">
    <br />
    <dl class="row">
        <dt class="col col-sm-2">
            First Name
        </dt>
        <dd class="col col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col col-sm-2">
            Last Name
        </dt>
        <dd class="col col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col col-sm-2">
            Client Email Address
        </dt>
        <dd class="col col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col col-sm-2">
            Client Phone Number
        </dt>
        <dd class="col col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col col-sm-2">
            Is it ok to text client?
        </dt>
        <dd class="col col-sm-10">
            @Html.DisplayFor(model => model.OkToText)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col col-sm-2">
            Emergency Number
        </dt>
        <dd class="col col-sm-10">
            @Html.DisplayFor(model => model.EmergencyPhone)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col col-sm-2">
            Emergency Contact Name
        </dt>
        <dd class="col col-sm-10">
            @Html.DisplayFor(model => model.EmergencyName)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col col-sm-2">
            Assigned Staff
        </dt>
        <dd class="col col-sm-10">
            @Html.DisplayFor(model => model.AssignedStaff)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col col-sm-2">
            Room Number
        </dt>
        <dd class="col col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col col-sm-2">
            Is intake complete?
        </dt>
        <dd class="col col-sm-10">
            @Html.DisplayFor(model => model.IntakeComplete)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col col-sm-2">
            Date of Intake
        </dt>
        <dd class="col col-sm-10">
            @Html.DisplayFor(model => model.IntakeDate)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col col-sm-2">
            Date of Departure
        </dt>
        <dd class="col col-sm-10">
            @Html.DisplayFor(model => model.DepartDate)
        </dd>
    </dl>
    </dl>
</div>
    </div>
    <br />
    <div>
        <h2>Client Steps</h2>
        |
        <a asp-controller="Clients" asp-route-id="@Model.Id" asp-action="ClientWithSteps">Link to Client's Steps</a> |
        <br />
        <br />
        <br />
        |
        <a asp-controller="Steps" asp-action="Index">Add A Step To Client</a> |
        <br />
        <br />

    </div>
    <br />
    <br />
    <br />

    <div>
        <h2>Current Groups</h2>
        |
        <a asp-controller="Groups" asp-action="Index">Add A Group To Client</a> |
        <br />



        @foreach (var ClientGroup in Model.ClientGroups)

        {
            <br />
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <br />
                    <dt class="card-title">
                        @Html.DisplayFor(modelItem => ClientGroup.Group.GroupName)
                    </dt>
                    <a asp-controller="ClientGroups" asp-route-id="@ClientGroup.Id" asp-action="Delete">Delete</a>
                    <br />
                </div>
            </div>

        }

    </div>
    <div>
        <br />
        <br />
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
