@model ShelterHub.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OkToText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OkToText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmergencyPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmergencyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedStaff)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssignedStaff)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IntakeComplete)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IntakeComplete)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IntakeDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IntakeDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartDate)
        </dd>
    </dl>
</div>
<br />
<div>
    <dt class="col-sm-2">Current Steps</dt>
    |
    <a asp-controller="Steps" asp-action="Index">Add A Step</a> |

    @foreach (var ClientStep in Model.ClientSteps)
    {
        <dt class="col-sm-10">
            @Html.DisplayFor(modelItem => ClientStep.Step.StepName)
        </dt>


        <a asp-controller="ClientSteps" asp-route-id="@ClientStep.Id" asp-action="Edit">Edit</a>

    }
</div>
<br />
<div>
    <dt class="col-sm-2">Current Groups</dt>
    @foreach (var ClientGroup in Model.ClientGroups)
    {
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => ClientGroup.Group.GroupName)
        </dd>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
