@model ShelterHub.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />

    @if (Model.ClientImage != null)
    {
        <dt>
            @Html.DisplayNameFor(model => model.ClientImage)
        </dt>
        <dd>
            @{
                var base64 = Convert.ToBase64String(Model.ClientImage);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }

            <img class="userImg" src="@imgSrc" style="height:300px;" />
        </dd>
    }

    <br />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OkToText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OkToText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmergencyPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmergencyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedStaff)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssignedStaff)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IntakeComplete)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IntakeComplete)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IntakeDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IntakeDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartDate)
        </dd>
    </dl>
</div>
<br />
<div>
    <h2>Current Steps</h2>
    |
    <a asp-controller="Steps" asp-action="Index">Add A Step</a> |
    <br/>
    <br/>
    

    @foreach (var ClientStep in Model.ClientSteps)
    {
        <br />
        <dt class="col-sm-10">
            @Html.DisplayFor(modelItem => ClientStep.Step.StepName)
        </dt>


        <a asp-controller="ClientSteps" asp-route-id="@ClientStep.Id" asp-action="Edit">Edit</a>
        <br />
    }
</div>
<br />
<br />
<br />

<div>
    <h2>Current Groups</h2>
    |
    <a asp-controller="Groups" asp-action="Index">Add A Group</a> |
    <br />
    

    @foreach (var ClientGroup in Model.ClientGroups)
    {
        <br />
        <dt class="col-sm-10">
            @Html.DisplayFor(modelItem => ClientGroup.Group.GroupName)
        </dt>
        <a asp-controller="ClientGroups" asp-route-id="@ClientGroup.Id" asp-action="Delete">Delete</a>
        <br />
      
        
    }
</div>
<div>
    <br />
    <br />
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
