@model IEnumerable<ShelterHub.Models.Step>

@{
    ViewData["Title"] = "Index";
}

<h1>Steps To Progress</h1>

<p>
    <a asp-action="Create">Create New Step</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Housing Steps
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.StepTypeId == 1)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StepName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        <a asp-controller="ClientSteps" asp-action="Create" asp-route-id="@item.Id">Add Step To Client</a>
                    </td>
                </tr>
            }
        }
    </tbody>
    <br />
    <br />
    <thead>
        <tr>
            <th>
                Employment Steps
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.StepTypeId == 2)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StepName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        <a asp-controller="ClientSteps" asp-action="Create" asp-route-id="@item.Id">Add Step To Client</a>
                    </td>
                </tr>
            }
        }
    </tbody>
    <br />
    <br />
    <thead>
        <tr>
            <th>
                Documentation Steps
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.StepTypeId == 3)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StepName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        <a asp-controller="ClientSteps" asp-action="Create" asp-route-id="@item.Id">Add Step To Client</a>
                    </td>
                </tr>
            }
        }
    </tbody>
    <br />
    <br />
    <thead>
        <tr>
            <th>
                Other Steps
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.StepTypeId == 4)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StepName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        <a asp-controller="ClientSteps" asp-action="Create" asp-route-id="@item.Id">Add Step To Client</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
