@model IEnumerable<ShelterHub.Models.Step>

@{
    ViewData["Title"] = "Index";
}
@* This is the Step Index view. It shows a list of all the steps that the user has created. There are link to view details, to edit and delete each step. The page was bootstrapped using a striped table layout for enhanced UI. The steps are seperated into four categories based on step type.  *@
<h1>Steps To Progress</h1>

<p>
    <a asp-action="Create">Create New Step</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Housing 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.StepTypeId == 1)
            {
                <tr scope="row">
                    <td>
                        @Html.DisplayFor(modelItem => item.StepName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        <a asp-controller="ClientSteps" asp-action="Create" asp-route-id="@item.Id">Add Step To Client</a>
                    </td>
                </tr>
            }
        }
    </tbody>
    <br />
    <br />
    <thead>
        <tr>
            <th>
                Employment 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.StepTypeId == 2)
            {
                <tr scope="row">
                    <td>
                        @Html.DisplayFor(modelItem => item.StepName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        <a asp-controller="ClientSteps" asp-action="Create" asp-route-id="@item.Id">Add Step To Client</a>
                    </td>
                </tr>
            }
        }
    </tbody>
    <br />
    <br />
    <thead>
        <tr>
            <th>
                Documentation 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.StepTypeId == 3)
            {
                <tr scope="row">
                    <td>
                        @Html.DisplayFor(modelItem => item.StepName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        <a asp-controller="ClientSteps" asp-action="Create" asp-route-id="@item.Id">Add Step To Client</a>
                    </td>
                </tr>
            }
        }
    </tbody>
    <br />
    <br />
    <thead>
        <tr>
            <th>
                Other 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.StepTypeId == 4)
            {
                <tr scope="row">
                    <td>
                        @Html.DisplayFor(modelItem => item.StepName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        <a asp-controller="ClientSteps" asp-action="Create" asp-route-id="@item.Id">Add Step To Client</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
