@model IEnumerable<ShelterHub.Models.Group>

@{
    ViewData["Title"] = "Index";
}
@* The Group Index view, where the user can view a list of all the groups they've created. The time and day of the group is also displayed, along with links to edit/delete the group and view a group's details. The list was created using a bootstrapped striped table to enhance UI. *@
<h1>Groups</h1>

<p>
    <a asp-action="Create">Create New Group</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                Group Name
            </th>
            <th scope="col">
               Time
            </th>
            <th scope="col">
                Day
            </th>          
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr scope="row">
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeek)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-controller="ClientGroups" asp-action="Create" asp-route-id="@item.Id">Add Group To Client</a>
            </td>
        </tr>
}
    </tbody>
</table>
